<footer class="footer">

  <p>&copy; 2016 <a href="https://twitter.com/andyy">Andy Young</a>. SiteHound is free &amp; open-source software, licenced under the <a href="http://www.gnu.org/licenses/">GNU GPL v3</a>.<br>
  <a href="http://www.500.co/">500 Startups Distro Team</a> #500STRONG</p>

  <a class="twitter-follow-button" href="https://twitter.com/andyy">Follow @andyy</a>

  <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>

</footer>
